# DB - SQLite

```python
import sqlite3
````

In [1]:
# Start using sqlite package
import sqlite3

## Crear una conexion a la base de datos

In [2]:
db_name = "production.db"
conn = sqlite3.connect(db_name)

In [3]:
# Crear una base de datos en la memoria
conn_memory = sqlite3.connect(":memory:")

## Crear una tabla en la DB
### Crear un cursor
* objecto definido a traves del connector
* nos permite ejecutar comandos en nuestra base de datos
* basicamente todas las operaciones se ejecutan a trav√©s de este cursor

In [4]:
cursor = conn.cursor()

In [5]:
type(cursor)

sqlite3.Cursor

In [6]:
type(conn)

sqlite3.Connection

In [15]:
# Create table
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """
CREATE TABLE clients (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name TEXT,
    last_name TEXT,
    email TEXT,
    year NUMERIC
)
"""

cursor.execute(sql_str)
conn.commit()
conn.close()

In [16]:
# INSERT VALUES IN TABLE
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """
INSERT INTO clients (first_name, last_name,email,year)
VALUES ('Roberto','Kramer','rk@gmail.com',1984)
"""

cursor.execute(sql_str)
conn.commit()
conn.close()

## Query DB
- Retrieve de mi tabla

* fetchall()
* fetchone()
* fetchmany()

In [17]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """SELECT * FROM clients"""

cursor.execute(sql_str)
result = cursor.fetchall()

conn.commit()
conn.close()

In [18]:
result

[(1, 'Roberto', 'Kramer', 'rk@gmail.com', 1984)]

### Insert Multiple Values in my DB

In [22]:
multiple_records = [
        ("Albert","Einstein","ae@gmail.com",1879),
        ("Jason","Moore","jm@gmail.com",1980),
]

db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """
INSERT INTO clients (first_name, last_name, email,year)
VALUES (?,?,?,?)
"""
cursor.executemany(sql_str,multiple_records)

conn.commit()
conn.close()

In [23]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """SELECT * FROM clients"""

cursor.execute(sql_str)
result = cursor.fetchall()

conn.commit()
conn.close()

result

[(1, 'Roberto', 'Kramer', 'rk@gmail.com', 1984),
 (2, 'Albert', 'Einstein', 'ae@gmail.com', 1879),
 (3, 'Jason', 'Moore', 'jm@gmail.com', 1980)]

In [24]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """SELECT * FROM clients"""

cursor.execute(sql_str)
result = cursor.fetchone()

conn.commit()
conn.close()

result

(1, 'Roberto', 'Kramer', 'rk@gmail.com', 1984)

In [25]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """SELECT * FROM clients"""

cursor.execute(sql_str)
result = cursor.fetchmany(2)

conn.commit()
conn.close()

result

[(1, 'Roberto', 'Kramer', 'rk@gmail.com', 1984),
 (2, 'Albert', 'Einstein', 'ae@gmail.com', 1879)]

## WHERE Clauses

In [26]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """SELECT * FROM clients
where LOWER(first_name) LIKE '%a%'
"""

cursor.execute(sql_str)
result = cursor.fetchall()

conn.commit()
conn.close()

result

[(2, 'Albert', 'Einstein', 'ae@gmail.com', 1879),
 (3, 'Jason', 'Moore', 'jm@gmail.com', 1980)]

In [27]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """SELECT * FROM clients
where last_name = 'KRAMER'
"""

cursor.execute(sql_str)
result = cursor.fetchall()

conn.commit()
conn.close()

result

[]

## Update Table

In [28]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

sql_str = """
UPDATE clients
SET email='rk1@gmail.com'
WHERE id = 1
"""
cursor.execute(sql_str)
conn.commit()

sql_str = """SELECT * FROM clients"""

cursor.execute(sql_str)
result = cursor.fetchall()

conn.commit()
conn.close()

result

[(1, 'Roberto', 'Kramer', 'rk1@gmail.com', 1984),
 (2, 'Albert', 'Einstein', 'ae@gmail.com', 1879),
 (3, 'Jason', 'Moore', 'jm@gmail.com', 1980)]

## Row Objects

- class sqlite3.Row
- objectos de row (lineas) optimizadas y con atributos
- nos fornecen mas informacion sobre el schema de una tabla

In [35]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
conn.row_factory = sqlite3.Row
cursor = conn.cursor()

sql_str = """SELECT * FROM clients"""
res = cursor.execute(sql_str)
first_row = res.fetchone()

In [36]:
type(first_row)

sqlite3.Row

In [37]:
first_row.keys()

['id', 'first_name', 'last_name', 'email', 'year']

In [38]:
first_row["first_name"]

'Roberto'

In [39]:
# QUERY VALUES FROM DB
db_name = "production.db"
conn = sqlite3.connect(db_name)
conn.row_factory = sqlite3.Row
cursor = conn.cursor()

sql_str = """SELECT * FROM clients"""
res = cursor.execute(sql_str)
rows = res.fetchall()

In [40]:
for r in rows:
    print(f"First name: {r['first_name']}, Email: {r['email']}, Year: {r['year']}")

First name: Roberto, Email: rk1@gmail.com, Year: 1984
First name: Albert, Email: ae@gmail.com, Year: 1879
First name: Jason, Email: jm@gmail.com, Year: 1980

In [41]:
conn.close()